<?xml version="1.0"?>
<!--
  Copyright © 2019 Wyomind. All rights reserved.
  See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Core/etc/config.xsd">
    <default>
        <orderupdater>
            <license>
                <extension_label>Mass Order Update</extension_label>
                <extension_version>1.1.2</extension_version>
                <extension_code>ou</extension_code>
                <get_online_license>0</get_online_license>
            <activation_key>ESZDU2D4K6YPVHITT</activation_key></license>
            <settings>
                <log>0</log>
                <nb_preview>100</nb_preview>
                <order_batch_size>100</order_batch_size>
                <cron_interval>30</cron_interval>
            </settings>
        </orderupdater>
    </default>
</config>
