<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- Sales > Mass Order Update -->
        <add id="Wyomind_OrderUpdater::main"
             parent="Magento_Sales::sales"
             module="Wyomind_OrderUpdater"
             title="Mass Order Update"
             sortOrder="200"
             resource="Wyomind_OrderUpdater::main"/>
        <add id="Wyomind_OrderUpdater::profiles"
             parent="Wyomind_OrderUpdater::main"
             module="Wyomind_OrderUpdater"
             title="Profiles"
             sortOrder="10"
             resource="Wyomind_OrderUpdater::profiles"
             action="orderupdater/profiles/index" />
    </menu>
</config>