<div>
    <!--<div class="step-title margin-bottom"
         style="margin-bottom: 28px; max-width: 500px; margin-top: 28px; border-bottom: 1px solid #cccccc;!important; color: #333333; font-weight: 300; font-size: 25px"
         data-bind="i18n: 'Additional Information'"
         data-role="title">Additional Information</div>-->
    <div class="margin-bottom" style="margin-bottom: 28px; max-width: 500px; margin-top: 28px;"></div>
    <form id="shipping-checkout-form" style="max-width: 500px;  margin-bottom: 20px;" class="form custom_form_shipping_custom_attributes">
        <fieldset class="fieldset">
            <!-- ko foreach: getRegion('custom-checkout-form-fields') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </fieldset>
    </form>
</div>